/* ######################### */
/* cn-cols */
/* ######################### */
.cn-row {
    /*height: 100%;*/
}

.cn-col {
    /*height: fit-content;*/
    width: fit-content;
    /*min-height: 700px;*/
    /*min-height: 100%;*/
    display: block;
    padding: 0;
    z-index: 1;
}

#cn-left-col {
    background-color: white;
    position: fixed;
    box-shadow: 0 0 30px rgb(100, 100, 100);
    max-width: 256px;
    overflow-y: auto;
    display: none;
}

#cn-center-col {
    /*background-color: whitesmoke;*/
    /*min-height: 600px;*/
    /*position: relative;*/
    width: inherit;
}

#cn-right-col {
    max-width: 256px;
    background-color: white;
    position: fixed;
    right: 0;
    box-shadow: 0 0 30px rgb(100, 100, 100);
    display: none;
    overflow-y: auto;
}




/* ######################## */
/* video-details-form */

form#video-details-form {
    padding: 60px 0;
}

#video-details-form .form-group,
#video-details-form .form-check {
    margin-top: 40px;
}

#video-details-form input[type=text], 
#video-details-form textarea,
#video-details-form select {
    font-weight: 100;
    font-size: 14px;
    padding: 10px;
    resize: none;
}


#video-details-form #extra-details-title {
    margin-top: 80px;
}

#video-details-form #private-video-checkbox {
    margin-left: 0;
}

#video-details-form option {
    padding: 0.5em;
}