/* ######################### */
/* cn-cols */
/* ######################### */
.cn-row {
    /*height: 100%;*/
}

.cn-col {
    /*height: fit-content;*/
    width: fit-content;
    /*min-height: 700px;*/
    /*min-height: 100%;*/
    display: block;
    padding: 0;
    z-index: 1;
}

#cn-left-col {
    background-color: white;
    position: fixed;
    box-shadow: 0 0 30px rgb(100, 100, 100);
    max-width: 256px;
    overflow-y: auto;
    display: none;
}

#cn-center-col {
    /*background-color: whitesmoke;*/
    /*min-height: 600px;*/
    /*position: relative;*/
    width: inherit;
}

#cn-right-col {
    max-width: 256px;
    background-color: white;
    position: fixed;
    right: 0;
    box-shadow: 0 0 30px rgb(100, 100, 100);
    display: none;
    overflow-y: auto;
}