
#main-content {
    /*display: block;*/
    /*height: 700px;*/
    /*z-index: 800;*/
    padding: 0;
}

.my-photo-side-col {
    position: absolute;
    display: none;
}

.cn-row {
    height: 100%;
}

.cn-col {
    height: 100%;
    display: block;
    padding: 0;
}


#cn-left-col {
    background-color: yellow;
}

#cn-center-col {
    background-color: black;
}

#cn-right-col {
    background-color: black;
    color: white;
}


#photo-main-container {
    /*max-height: 750px;*/
    /*overflow-y: auto;*/
    /*width: 990px;*/
    background-color: black;
    box-shadow: none;
    margin: auto;
    margin-top: 0;
    padding-top: 60px;
}

#my-photo-main-title {
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;

}













flickr-container {
    /*background-color: yellow;*/
    padding: 40px;
}

.flickr-photo-cover {
    background-color: rgba(244, 146, 66, 0.5);
    width: 240px;
    height: 1220px;
    position: absolute;
    /*top: 0px;*/
    /*left: 0px;*/
}

.link-photos {
    width: 197px;
    height: 197px;
    /*zoom: 129%;*/
}

/*#reference_for_loading_more {*/
    /*width: 200px;*/
    /*height: 1px;*/
    /*background-color: red;*/
/*}*/

.individual_photo_container {
    display: inline-block;
    margin-right: 1px;
}

.horizontal_divider {
    width: 100%;
    height: 1px;
    background-color: black;
}

#load_more_button {
    margin: 0;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    padding: 10px 20px;
    font-size: 12px;

}

#solo_view_container {
    position: fixed;
    z-index: 2000;
    background-color: rgba(20, 20, 20, 0.9);
    top: 0px;
    left: 0px;
    /*width: 1000px;*/
    /*height: 1000px;*/
    display: none;
}

#solo_view_container table {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
 }

#solo_view_container table td {
    vertical-align: top;
}

#solo_img_container {
    width: 900px;
    /*margin: auto;*/
    text-align: center;
}

.solo_imgs {
    /*pointer-events: none;*/
}

.individual_photo_container img {
    display: inline;
}

.individual_photo_container img:hover {
    /*cursor: pointer;*/
    /*pointer-events: none;*/
}

.solo_buttons {
    background-color: rgba(60, 60, 60, 0.7);
    padding: 50px 30px;
    border-radius: 3px;
    z-index: 5;
    color: rgb(230, 230, 230);
}

#previous-solo-button {
    margin-right: 30px;
}

#next-solo-button {
    margin-left: 30px;
}

.solo_buttons:hover {
    background-color: rgba(70, 70, 70, 1.0);
    cursor: pointer;
}

.captions {
    position: relative;
    display: block;
    background-color: rgba(255, 196, 119, 0.3);
    opacity: 0;
}

.captions:hover {
    cursor: pointer;
    opacity: 1;
}

.caption_action_bar {
    background-color: rgba(255, 196, 119, 0.2);
}

.sample_inner_caption {
    background-color: rgba(255, 196, 119, 0.3);
    display: block;
    position: static;
}

.my-photo-icons {
    margin: 3px;
    margin-right: 0px;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    /*pointer-events: unset;*/
}

.my-photo-icons:hover {
    cursor: pointer;
    /*background-color: rgb(80, 80, 80);*/
}

.my-photo-icons-edit:hover {
    color: rgb(169, 252, 113);

}

.my-photo-icons-delete:hover {
    color: red;
}

.photo-caption-title {
    font-size: 11px;
    font-weight: 100;
    color: rgb(240, 240, 240);
    margin-left: 20px;
}