/* ######################### */
/* cn-cols */
/* ######################### */
.cn-row {
    /*height: 100%;*/
}

.cn-col {
    /*height: fit-content;*/
    width: fit-content;
    /*min-height: 700px;*/
    /*min-height: 100%;*/
    display: block;
    padding: 0;
    z-index: 1;
}

#cn-left-col {
    background-color: white;
    position: fixed;
    box-shadow: 0 0 30px rgb(100, 100, 100);
    max-width: 256px;
    overflow-y: auto;
    display: none;
}

#cn-center-col {
    /*background-color: whitesmoke;*/
    /*min-height: 600px;*/
    /*position: relative;*/
    width: inherit;
}

#cn-right-col {
    max-width: 256px;
    background-color: white;
    position: fixed;
    right: 0;
    box-shadow: 0 0 30px rgb(100, 100, 100);
    display: none;
    overflow-y: auto;
}




/* ################################ */
/* ItemxManagingSectionTemplate */
/* ################################ */
.itemx-managing-section {
    /* background-color: aliceblue; */
     border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 0 20px rgb(220, 220, 220);
    margin: 50px 70px;
    margin-bottom: 120px;
    padding: 30px 70px;
    padding-bottom: 80px;
    border-radius: 10px;
}




/* ################################ */
/* ItemxManagingSectionPseudoBtnTemplate */
/* ################################ */
 .itemx-managing-section-pseudo-btn {
     width: 250px;
     /* background-color: lightblue; */
     border: 1px solid black;
     border-radius: 10px;
     margin: 20px;
     margin-left: 0;
     display: inline-block;
     color: black;
 }

.cn-undisplayed {
    display: none;
}

.itemx-managing-section-pseudo-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
    border: 1px solid blue;
}

.itemx-managing-section-pseudo-btn .item-icon {
    font-size: 130px;
    text-align: center;
    margin-top: -50px;
}

.itemx-managing-section-pseudo-btn .crud-icon {
    font-size: 32px;
    padding-left: 20px;
}